/bin/
/dist/
/*.exe
/*.dll
/*.so
/*.dylib
/*.bak
coverage.out
_build/
out/
.env
.env.local
.env.*.local
/data/
*.db
*.sqlite
*.db-wal
*.db-shm
.vscode/
.idea/
*.iml
*.sublime-*
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.test
.gitattributes
*.tfstate
*.tfstate.backup
.terraform/
/.idea/
*.coverprofile
/build/